#root {
    margin: 0;
    padding: 0;
    /* need to specify 100% height for every element that surrounds .app */
    height: 100%;
}

.app {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightyellow;
}

.header {
    flex-shrink: 0;
    background-color: lightsalmon;
}

.content {
    flex-grow: 1;

    /* this adds a scrollbar when the content takes up more space than available to display */
    overflow: auto;

    background-color: lightgreen;
}

.footer {
    flex-shrink: 0;
    background-color: lightblue;
}